body {
    margin: 0;
}


header h1 {
    font-size: 32pt;
    word-spacing: 50px;
}


nav ul {
    list-style: none;
}


nav ul a {
    color: black;
    text-decoration: none;
}

nav ul a:hover {
    font-weight: bold;
    text-decoration: underline;
}

footer table {
    color: white;
}

footer cite {
    color: green;
    background-color: yellow;
}

header {
    background-color: lightcoral;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 110;
}

nav {
    background-color: lightgreen;
    position: fixed;
    left: 0;
    top: 125px;
    width: 180px;
    padding: 10px;
}

main {
    background-color: lightskyblue;
    margin-top: 125px;
    margin-left: 205px;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 5px;
}